.container
        .row
            .col-xl-4
                nav.mainNav
                    ul
                        li
                            a(href='http://localhost:3000/') Index
                        li
                            a(href='http://localhost:3000/signIn') Sign In
                        li
                            a(href='http://localhost:3000/register') Register
