<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
     
    if success_messages
      .alert.alert-success= success_messages
    if error_messages
      .alert.alert-danger= error_messages


    block content

    .container
      include partials/navbar.pug
    include partials/scripts.pug
