*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainNav{
  height: 80px;
  display: flex;
  align-items: center;
}
.mainNav ul{
  margin: 0;
  display: flex;
}
.mainNav ul li{
  list-style: none;
  display: flex;
  padding: 0px 0px 0px 20px;
}
.mainNav ul li a{
  color: black;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 3px solid transparent;
}
.mainNav ul li a:hover{
  border-bottom: 3px solid black;
}
.registerRoot{
  height: 500px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
h2{
  text-align: center;
}
.error{
  color: blueviolet;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.successfullyReg{
  color: green;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}